<form action="/add" method="POST" > 
    <p>Data:</p>
    <input type="text" name="data" >
    <p>Nome card:</p>
    <input type="text" name="nomeCard"  >
    <p>Tipo trabalho</p>
    <input type="text" name="tipoTrabalho"  >
    <p>Quantidade</p>
    <input type="text" name="quantidade"  >
    <button type="submit" >Cadastrar</button>
</form>